NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA_sVn20QvZNGGCT7ze6fSoyhjLDe6D_GQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=simcoe-69274.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=simcoe-69274
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=simcoe-69274.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=763040480957
NEXT_PUBLIC_FIREBASE_APP_ID=1:763040480957:web:0f0b1dd679cd1cb4ebc1d4
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-H2WRR64WP4
FIREBASE_ADMIN_PROJECT_ID=
FIREBASE_ADMIN_PRIVATE_KEY=
FIREBASE_ADMIN_CLIENT_EMAIL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_INDIVIDUAL=
STRIPE_PRICE_FAMILY=
STRIPE_PRICE_STUDENT=
STRIPE_PRICE_CORPORATE=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_URL=https://simcoeturkish.ca
NEXT_PUBLIC_SITE_URL=https://simcoeturkish.ca
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_TWITTER_URL=
NEXT_PUBLIC_YOUTUBE_URL=
RESEND_API_KEY=
EMAIL_FROM=noreply@simcoeturkish.ca
STA_CONTACT_EMAIL=info@simcoeturkish.org
