# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/
dist/

# local env files
.env
.env*.local

# Firebase / local logs
firebase-debug.log
firestore-debug.log
ui-debug.log

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# OS / editor
.DS_Store
.idea/
.vscode/
